* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  background-color: rgb(246, 196, 120);
}

*, *:before, *:after {
  box-sizing: inherit;
}

header p {
  font-size: 2em;
  background-color:rgb(248, 182, 84);
  text-align: center;
  padding: 3%;
}

.menu {
  background-color: rgb(180, 131, 57);
  display: flex;
  justify-content: center;
}

.menu .navItem {
  padding: 5%;
  font-size: 20px;
}

p, li {
  font-size: 30px;
  line-height: 40px;
}

li {
  font-size: 23px;
}

h1, h2, h3 {
  margin: 6% 0 3% 0;
  text-align: center;
}

.aside-one, .aside-two {
  width: 80%;
  margin: 0% auto;
}

.main-content {
  margin: 10px;
  padding: 0 10px;
  background-color: rgb(248, 182, 84);
  border-radius: 20px;
}

footer p {
  font-size: 15px;
  margin: 10px;
}

@media only screen and (min-width: 400px){

}