body{
    font-size: 1.6em;
		margin: 5px;
		background-color: rgb(176, 124, 197);
}

h1{
    font-size: 1.5em;
}

img {
    max-width: 100%;
		margin-top: 30px;
		border-radius: 10%;
}

.container {
	background-color: rgb(219, 191, 230);
	padding: 5px;
	text-align: center;
}

@media only screen  and (min-width: 800px){

	body{
		font-size: 1.3em;
		background-color: rgb(109, 180, 81);
	}   

	.container{
		width: 70%;
		margin: 0px auto;
		padding: 5px 20px;
		border: double grey 3px;
		background-color: rgb(145, 189, 128);
	}

	figure {
		margin: 0;
		width: 40%;
		
}
	.imgDiv {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

@media only screen  and (min-width: 1300px){

	body{
		font-size: 1.5em;
		background-color: rgb(248, 150, 59);
	}   

	.container{
		width: 70%;
		margin: 0px auto;
		padding: 5px 20px;
		border: double grey 3px;
		background-color:  rgb(245, 186, 131);
	}

	figure {
		margin: 0;
		width: 40%;
}
	.imgDiv {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}